.logo1{
    width: 150px;
}

 .brand-logo{
    top:-12px;
    height:65px;
    padding-left: 0px;
    margin-left: 0px;
    right:20px;
}

.logolink{
    height:65px;
}
/* Mobile Hacks Refactor later 10/27/2019 */
#mobileHeader{
    position: relative;
    left: 5px;
    top: -25px;
}

.logo2{
    position: relative;
    top: 3px;
}

/* Radio.co player SDK
========================================================================== */
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

[class*="fontawesome-"]:before {
font-family: "FontAwesome", sans-serif;
}

.radioco-playButton-playing:before {
font-family: "FontAwesome", sans-serif;
content: "\f04b";
}

.radioco-playButton-paused:before {
font-family: "FontAwesome", sans-serif;
content: "\f04c";
}

.radioplayer {
background: #f4f4f4;
padding: 20px;
width: 280px;
height: 550px;
box-shadow: #ccc 0px 1px 50px;
border-radius: 4px;
background-position: center center !important;
background-repeat: no-repeat !important;
background-size: cover !important;
overflow: hidden;

-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.radioco-playButton {
box-shadow: #111 1px 1px 10px;
color: #fff;
position: relative;
top: 380px;
margin-left: 38%;
position: relative;
z-index: 2;
font-size: 50px;
}

.radioco-playButton:active {
color: #ccc;
}

.radioco-playButton-playing {
font-family: "controls";
position: absolute;
font-size: 150%;
text-shadow: #333 0px 0px 15px;
}

.radioco-playButton-paused {
font-family: "controls";
position: absolute;
font-size: 150%;
text-shadow: #333 0px 0px 15px;
opacity: 0.5;
}

.radioco-image {
vertical-align: middle;
position: relative;
z-index: 1;
top: 40px;
width: 240px;
height: 240px;
}

.radioco-bg {
top: -350px;
-webkit-filter: blur(30px) brightness(0.6);
overflow: hidden;
width: 280px;
height: 500px;
position: relative;
}

.radioco-information {
display: block;
position: relative;
width: 240px;
color: #000;
z-index: 1;
top: 35px;
font-family: "Open Sans", sans-serif;
}

.radioco-information span {
display: block;
}

.radioco-information input[type="range"] {
background: rgba(255, 255, 255, 0.3);
width: 100%;
display: block;
height: 4px;
-webkit-appearance: none;
-webkit-border-radius: 8px;
margin-top: 20px;
margin-bottom: 20px;
cursor: -webkit-grab;
outline: 0;
}

.radioco-information input[type="range"]::-webkit-slider-thumb {
-webkit-appearance: none;
border: none;
width: 15px;
height: 15px;
border-radius: 10px;
background: #ffffff;
-webkit-transition: box-shadow 0.2s;
}
.radioco-information input[type="range"]::-webkit-slider-thumb:hover {
box-shadow: #fff 1px 1px 20px;
}

.radioco-information input[type="range"]:active,
.information input[type="range"]:focus {
outline: 0;
}

.radioco-elapsedTime {
opacity: 0.4;
font-size: 14px;
}